
.gantt-dark {
  --gantt-bg-color: #616161
  --gantt-bar-color: #616161;
  --gantt-bar-stroke: #c6ccd2;
  --gantt-stroke-color: #616161;
  --gantt-light-bg: #3e3e3e;
  --gantt-light-border-color: #3e3e3e;
  --gantt-text-muted: #eee;
  --gantt-text-light: #ececec;
  --gantt-text-dark: #f7f7f7;
  --gantt-accent-light: #8a8aff;
  --gantt-today-bg-color: #3e3e3e;
  --gantt-today-text-color: #ececec;

  --gantt-bar-color-dark-hover: lighten(#616161, 5%);
  --gantt-accent-light-dark-hover: lighten(#8a8aff, 5%);

  .gantt-container {
    .gantt {
      .grid-header {
        fill: #252525;
        stroke: var(--gantt-stroke-color);
      }
      .grid-row {
        fill: #252525;
      }
      .grid-row:nth-child(even) {
        fill: var(--gantt-light-bg);
      }
      .row-line {
        stroke: var(--gantt-light-border-color);
      }
      .tick {
        stroke: var(--gantt-stroke-color);
      }
      .today-highlight {
        opacity: 0.2;
      }

      .arrow {
        stroke: var(--gantt-text-muted);
      }

      .bar {
        fill: var(--gantt-bar-color);
        stroke: none;
      }
      .bar-progress {
        fill: var(--gantt-accent-light);
      }
      .bar-invalid {
        fill: transparent;
        stroke: var(--gantt-bar-stroke);

        & ~ .bar-label {
          fill: var(--gantt-text-light);
        }
      }

      .bar-label.big {
        fill: var(--gantt-text-light);
      }

      .bar-wrapper {
        &:hover {
          .bar {
            fill: var(--gantt-bar-color-dark-hover);
          }

          .bar-progress {
            fill: var(--gantt-accent-light-dark-hover);
          }
        }

        &.active {
          .bar {
            fill: var(--gantt-bar-color-dark-hover);
          }

          .bar-progress {
            fill: var(--gantt-accent-light-dark-hover);
          }
        }
      }

      .upper-text {
        fill: #a2a2a2;
      }
      .lower-text {
        fill: var(--gantt-text-dark);
      }
    }
  }

  .gantt-container {
    .popup-wrapper {
      background-color: #333;

      .title {
        border-color: var(--gantt-accent-light-dark-hover);
      }
      .pointer {
        border-top-color: #333;
      }
    }
  }
}